In [30]:
%load_ext autoreload
%autoreload 2
import os
import pickle as pkl
from typing import Dict, Any

import numpy as np
import pandas as pd
from sklearn.datasets import fetch_openml
import matplotlib as mpl
import matplotlib.pyplot as plt
from copy import deepcopy
mpl.rcParams['figure.dpi'] = 250

# change working directory to project root
if os.getcwd().split('/')[-1] == 'notebooks':
    os.chdir('../..')
from experiments.notebooks import viz
from experiments.data_util import get_clean_dataset
from experiments.config.datasets import DATASETS_CLASSIFICATION, DATASETS_REGRESSION
from pmlb import fetch_data, classification_dataset_names
pd.options.display.max_rows = 100

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# classification dataset stats

In [31]:
metadata = []
columns = ['Name', 'Samples', 'Features', 'Class 0', 'Class 1', 'Majority class %']
for dset_name, dset_file, data_source in DATASETS_CLASSIFICATION:
    X, y, feat_names = get_clean_dataset(dset_file, data_source)
#     X = np.nan_to_num(X, 0)
    shape = X.shape
    class_counts = np.unique(y, return_counts=True)[1]
    metadata.append([dset_name.capitalize(), shape[0], shape[1], class_counts[0], class_counts[1],
                     np.round(100 * np.max(class_counts) / np.sum(class_counts), decimals=1)])

metadata = pd.DataFrame(metadata, columns=columns).sort_values(by=['Samples']) #.set_index('Name')
# print(metadata.to_latex(index=False))
metadata

            Name  Samples  Features  Class 0  Class 1  Majority class %
0          Sonar      208        60      111       97              53.4
1          Heart      270        15      150      120              55.6
2  Breast-cancer      277        17      196       81              70.8
3       Haberman      306         3       81      225              73.5
4     Ionosphere      351        34      126      225              64.1
5       Diabetes      768         8      500      268              65.1
6  German-credit     1000        20      300      700              70.0
7       Juvenile     3640       286     3153      487              86.6
8     Recidivism     6172        20     3182     2990              51.6
9         Credit    30000        33    23364     6636              77.9

# regression dataset names

In [33]:
metadata = []
columns = ['Name', 'Samples', 'Features', 'Mean', 'Std', 'Min', "Max"]
for dset_name, dset_file, data_source in DATASETS_REGRESSION:
#     print(dset_name, dset_file, data_source)
    X, y, feat_names = get_clean_dataset(dset_file, data_source)
#     X = np.nan_to_num(X, 0)
#     print(y.dtype)
#     print(np.unique(y))
    shape = X.shape
    metadata.append([dset_name.capitalize(), shape[0], shape[1], np.mean(y), np.std(y), np.min(y), np.max(y)])

metadata = pd.DataFrame(metadata, columns=columns).round(2).sort_values(by=['Samples'])
#.set_index('Name')
# print(metadata.to_latex(index=False))
metadata

                 Name  Samples  Features    Mean     Std    Min      Max
0           Friedman1      200        10   14.42    4.87   3.77    26.88
1           Friedman2      200         4  480.07  386.97   7.54  1599.54
2           Friedman3      200         4    1.33    0.30   0.19     1.57
3            Diabetes      442        10  152.13   77.01  25.00   346.00
4  California-housing      442        10  152.13   77.01  25.00   346.00
6     Satellite-image     6435        36    3.67    2.21   1.00     7.00
5         Echo-months    17496         9   21.99   15.79  -4.40    74.56

In [34]:
X, y, feature_names = get_clean_dataset('friedman1', data_source='synthetic')
print('shapes', X.shape, y.shape, np.unique(y))

shapes (200, 10) (200,) [ 1.57216141  2.9571414   3.13305874  3.16442274  4.38710008  4.41581661
  5.10602464  5.34534711  6.37552911  7.11049636  7.20672822  7.58647387
  7.70499612  8.0931659   8.40316521  8.44649263  8.64745214  8.78135223
  8.83769163  8.86258293  8.96717446  9.00150904  9.16657582  9.45209601
  9.49905829  9.50790929  9.66638437  9.69218071  9.72454317  9.75046179
  9.75165863  9.99292388 10.00123931 10.00421994 10.06316978 10.09000446
 10.24433039 10.31151763 10.3369705  10.43233195 10.82004882 10.86890388
 11.05687987 11.15732597 11.24076098 11.28338495 11.31912686 11.36147304
 11.4442184  11.46397671 11.6603857  11.78524877 11.89910575 12.1152307
 12.14680601 12.18899412 12.21837223 12.24183275 12.39343453 12.43704545
 12.50773201 12.61293102 12.67864176 12.78434403 12.80491419 12.81697473
 12.85930441 13.07559807 13.25236236 13.38406314 13.42837454 13.43718767
 13.56712993 13.5772164  13.63523983 13.64526955 13.79227732 13.83060518
 13.84487029 13.85316192 13.89105706 13.94861084 13.9608009  14.01901343
 14.12403972 14.17843583 14.4283582  14.45527525 14.49441835 14.55489193
 14.56629579 14.65940475 14.76345402 14.78203479 14.94441183 14.95004996
 15.05121823 15.17486807 15.28114203 15.34545905 15.35345325 15.3576275
 15.35833403 15.46739061 15.51453024 15.65650745 15.73662817 15.77994484
 15.97826238 15.98964784 16.0575967  16.11324246 16.15859144 16.17212955
 16.26054089 16.40546589 16.76999413 16.9461176  16.99220889 17.02470932
 17.09105852 17.10262081 17.13541567 17.21243345 17.28990596 17.3081706
 17.33186567 17.37894377 17.48301451 17.65314872 17.74154875 17.85022754
 17.94676669 17.95731924 18.05626298 18.12819905 18.21745689 18.33044504
 18.34497023 18.40921022 18.456646   18.46072161 18.49790948 18.58879734
 18.61425638 18.64774487 18.6946554  18.8348841  18.84150974 18.97185723
 19.0168325  19.03621725 19.26581508 19.35476863 19.39717166 19.44191138
 19.49978788 19.55994951 19.64521053 19.6547821  19.66503959 19.67622656
 19.68997343 19.78064444 19.83929948 19.9469509  20.01439752 20.23402762
 20.25559892 20.3211767  20.38389437 20.47451085 20.61526674 20.61652824
 20.77035599 20.94594009 20.9902475  21.24666606 21.37216703 21.69675227
 21.72994164 21.75379083 22.14366079 22.23184456 22.84085007 22.97002605
 22.98266658 23.30252029 23.49580935 23.58663667 23.58938258 23.67466157
 23.85061388 23.87949211 23.99059165 24.56085636 24.61120521 24.77564947
 24.86382238 25.27399121]

In [8]:
from imodels import C45TreeClassifier
m = C45TreeClassifier(max_rules=100)
m.fit(X, y)
print('mse', np.mean(np.square(m.predict(X) - y)))
print(m)

(768, 8)