In [15]:
%load_ext autoreload
%autoreload 2
import os
import pickle as pkl
from typing import Dict, Any

import numpy as np
import pandas as pd
from sklearn.datasets import fetch_openml
import matplotlib as mpl
import matplotlib.pyplot as plt
from copy import deepcopy
mpl.rcParams['figure.dpi'] = 250

# change working directory to project root
if os.getcwd().split('/')[-1] == 'notebooks':
    os.chdir('../..')
from experiments.notebooks import viz
from experiments.data_util import get_clean_dataset
from experiments.config.datasets import DATASETS_CLASSIFICATION, DATASETS_REGRESSION
from pmlb import fetch_data, classification_dataset_names
pd.options.display.max_rows = 100

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# classification dataset stats

In [16]:
metadata = []
columns = ['Name', 'Samples', 'Features', 'Class 0', 'Class 1', 'Majority class %']
for dset_name, dset_file, data_source in DATASETS_CLASSIFICATION:
    X, y, feat_names = get_clean_dataset(dset_file, data_source)
#     X = np.nan_to_num(X, 0)
    shape = X.shape
    class_counts = np.unique(y, return_counts=True)[1]
    metadata.append([dset_name.capitalize(), shape[0], shape[1], class_counts[0], class_counts[1],
                     np.round(100 * np.max(class_counts) / np.sum(class_counts), decimals=1)])

metadata = pd.DataFrame(metadata, columns=columns).sort_values(by=['Samples']) #.set_index('Name')
# print(metadata.to_latex(index=False))
metadata

            Name  Samples  Features  Class 0  Class 1  Majority class %
5          Sonar      208        60      111       97              53.4
0          Heart      270        15      150      120              55.6
1  Breast-cancer      277        17      196       81              70.8
2       Haberman      306         3       81      225              73.5
3     Ionosphere      351        34      126      225              64.1
4       Diabetes      768         8      500      268              65.1
6       Credit-g     1000        60      300      700              70.0
7       Juvenile     3640       286     3153      487              86.6
8     Recidivism     6172        20     3182     2990              51.6
9         Credit    30000        33    23364     6636              77.9

# regression dataset names

In [14]:
metadata = []
columns = ['Name', 'Samples', 'Features', 'Mean', 'Std', 'Min', "Max"]
for dset_name, dset_file, data_source in DATASETS_REGRESSION:
#     print(dset_name, dset_file, data_source)
    X, y, feat_names = get_clean_dataset(dset_file, data_source)
#     X = np.nan_to_num(X, 0)
#     print(y.dtype)
#     print(np.unique(y))
    shape = X.shape
    metadata.append([dset_name.capitalize(), shape[0], shape[1], np.mean(y), np.std(y), np.min(y), np.max(y)])

metadata = pd.DataFrame(metadata, columns=columns).round(2).sort_values(by=['Samples'])
#.set_index('Name')
# print(metadata.to_latex(index=False))
metadata

                 Name  Samples  Features    Mean    Std   Min     Max
0            Diabetes      442        10  152.13  77.01  25.0  346.00
1  California-housing      442        10  152.13  77.01  25.0  346.00
3     Satellite-image     6435        36    3.67   2.21   1.0    7.00
2         Echo-months    17496         9   21.99  15.79  -4.4   74.56

In [27]:
from imodels import C45TreeClassifier
X, y, feature_names = get_clean_dataset('friedman1', data_source='synthetic')
print('shapes', X.shape, y.shape, np.unique(y))

shapes (200, 10) (200,) [ 4.29274646  5.36615368  5.55082675  5.97563545  6.20020115  6.51147375
  6.89021325  6.98524401  7.00902427  7.01048771  7.3444899   7.48450688
  7.53110525  7.67707685  7.77389502  8.27914882  8.29154257  8.3102553
  8.3582545   8.42176319  8.46476353  8.66902705  8.70593519  8.77762688
  8.92253206  8.97169255  9.23093166  9.23659141  9.26638846  9.29191947
  9.30481259  9.37683198  9.40237025  9.42495214  9.50635669  9.61521725
  9.86924201  9.91052942 10.11500763 10.11841681 10.33614855 10.33802665
 10.37158605 10.4581507  10.50852981 10.67958439 10.71460291 10.74925081
 10.82406405 10.86913601 10.95127937 11.04786898 11.17520167 11.20125918
 11.26368775 11.28052703 11.37464809 11.42237506 11.63321113 11.68437801
 11.70989906 11.88588893 11.89777415 11.95008549 12.01151876 12.0711667
 12.09296492 12.09855988 12.13444683 12.344002   12.39760798 12.43158256
 12.45793674 12.59333681 12.62680235 12.8919753  12.92168783 12.92467318
 12.97498566 13.05341425 13.11208514 13.11411642 13.13138771 13.22473023
 13.35939462 13.40039009 13.46770091 13.53019189 13.62481003 13.62733477
 13.63328281 13.66145977 13.67912007 13.98778011 14.05517591 14.09688726
 14.13483726 14.31997363 14.56227759 14.70741731 14.84986939 14.85870618
 14.92838231 15.06399281 15.09025776 15.14950199 15.19399282 15.44459459
 15.49644468 15.52186179 15.56605877 15.71043709 15.7653248  15.79780269
 15.80402918 15.86251093 15.87571849 15.88569549 15.98780602 16.00927919
 16.0349282  16.21183928 16.22587129 16.24027289 16.30754306 16.33829423
 16.47056253 16.48544808 16.58475141 16.59994139 16.7818029  16.87705647
 16.9607041  17.01650758 17.07321719 17.10689093 17.23932572 17.32056302
 17.63828842 17.7543741  17.87618794 17.96003282 17.97910451 18.00093061
 18.06225713 18.11122786 18.15504589 18.18702266 18.194638   18.47775291
 18.57655143 18.65634998 18.67932608 18.68560174 18.85595673 19.03695353
 19.10506917 19.36135962 19.38250263 19.55850801 19.78404979 19.9919545
 20.00789376 20.05273711 20.09470816 20.21713294 20.346586   20.48638878
 20.61883457 20.75091169 20.75770182 20.79537886 20.84284674 20.87569819
 21.15253444 21.28928859 21.33927174 21.34633556 21.46793328 21.7092071
 21.89912943 22.30216569 22.3277322  22.33666701 22.38000348 22.41329832
 22.44137571 22.50171364 22.73973037 22.88202428 22.95029227 23.11425641
 23.28098508 23.59386012 23.68562968 23.7275467  23.83255226 25.02355288
 25.257598   25.50206429]

In [8]:
m = C45TreeClassifier(max_rules=100)
m.fit(X, y)
print('mse', np.mean(np.square(m.predict(X) - y)))
print(m)

(768, 8)

In [9]:
y.shape

(768,)

In [5]:
X, y, feature_names = get_clean_dataset('59', data_source='openml')

In [6]:
X.shape

(351, 34)